<a class="mdl-navigation__link mdl-js-ripple-effect" href="index.html"><i class="right20 align-icon material-icons">home</i>নীড় পাতা</a>
<a class="mdl-navigation__link" href="two.html"><i class="right20 align-icon material-icons">local_florist</i>দ্বিতীয় পাতা</a>
<a class="mdl-navigation__link" href="three.html"><i class="right20 align-icon material-icons">location_on</i>তৃতীয় পাতা</a>
<a class="mdl-navigation__link" href=""><i class="right20 align-icon material-icons">motorcycle</i>Link</a>
<a class="mdl-navigation__link" href=""><i class="right20 align-icon material-icons">music_note</i>Link</a>
<a class="mdl-navigation__link" href="#!"><small>v 1.0.1</small></a>